{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2 class="card-title">{{ object.name }}</h2>
            </div>
            <div class="card-body">
                <img src="{{ object.image|mediapath }}" alt="Card image cap" class="img-thumbnail">
                <h5 class="font-weight-normal">{{ object.description|slice:':150' }}</h5>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product' object.pk %}">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}