{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Магазин мебели</h1>
    <p class="lead">Online-store - это отличный вариант покупки мебели на заказ</p>
</div>
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2 class="card-title">{{ object }}</h2>
            </div>
            <div class="card-body">
                <h4 class="font-weight-normal">{{ object.description|slice:':100' }}</h4>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:products' object.pk %}">Смотреть каталог</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}